SECRET_KEY=troque-por-uma-chave-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Sao_Paulo

POSTGRES_DB=agendamentos_db
POSTGRES_USER=usuario_db
POSTGRES_PASSWORD=senha123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
